<!DOCTYPE html>

<html>
<body>
    <header>
        <div id="titleheader"><h1>CINECTODE : <br/> LES SECRETS DE TOURNAGE</h1></div>
        <nav>
        <ul id ="ulheader">
          <li class="dropdown" ><input type="button" class="connexion" value=" + option" />
            <div class="dropdown-content">
              <a href = "">Ajouter des amis</a>
              <a href="#">Voir les news</a>
              <a href="#">Se déconnecter</a>
            </div> </li>
         <li><a href = "">Steven S</a></li>
         <li><a href = ""><img src="http://fr.web.img5.acsta.net/pictures/16/05/17/11/39/453609.jpg" alt="Avatar" class="avatar"></a></li>
        </ul>
        </nav>
    </header>

</div>


  <div class="group">

    <section>
        <input class="search_bar" type="text" placeholder="Chercher un film ou une série ..."/>
      <div id="bouton_google">
        <input type="button" class="boutonA" value="Ajouter du contenu" onclick="location.href='https://www.google.com/doodles/'" />
        <input type="button" class="connexion" value="Aller vers" />
      </div>
    </section>

    <aside>
      <div class="ajout">
      <h2># ANECDOTE DU JOUR :</h2>
      </div>
  <div class="row">
    <div class="example-2 card">
      <div class="wrapper">
        <div class="header">
         <div class="date">
           <span class="day">14</span>
            <span class="month">Nov</span>
            <span class="year">2018</span>
         </div>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">Par Tyler D</span>
            <h1 class="title"><a href="#">Back to the Future</a></h1>
            <p class="text">"Au départ du projet, c'est dans un frigo que Marty aurait du remonter le temps..."</p>
            <a href="#" class="button">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    </aside>

  </div>
    <footer>
      <div id="bottom">
        <ul id="bloc_left">
          <li><a href = ""> In English </a> </li>
          <li><a href = ""> À Propos </a> </li>
          <li><a href = ""> Nous soutenir </a> </li>
        </ul>
        <ul id="bloc_right">
          <li><a href = ""> FAQ </a> 
          <li><a href = ""> Paramètres </a> </li>
          <li><a href = "https://www.cnc.fr/"><img src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/22/CNC_logo.svg/1280px-CNC_logo.svg.png" alt="logo" class="logo"></a></li>
        </ul>
      </div>
    </footer>
</body>
</html>